# =========================

# Python

# =========================

**pycache**/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
ENV/

# =========================

# Environment & Secrets

# =========================

.env
.env.*
!.env.example

# =========================

# Spark / Delta Lake

# =========================

warehouse/
spark-ivy/
*.checkpoint/
chk/
checkpoints/

# =========================

# Spark Logs

# =========================

*.log
logs/

# =========================

# IDE / Editors

# =========================

.vscode/
.idea/

# =========================

# OS Files

# =========================

.DS_Store
Thumbs.db
desktop.ini

# =========================

# Jupyter Notebook

# =========================

.ipynb_checkpoints/

# =========================

# Temporary Files

# =========================

*.tmp
*.temp
*.swp
*~

